{% extends "base.html" %}

{% block content %}

<main class="main main--about">
    <p>
        Hi, I'm Andy! I love coding, building websites and discovering and working with new technologies. 
        I first started coding five years ago. During that time I've worked with many technologies 
        including Python, HTML, CSS, SQL Databases, Bootstrap, PowerBI, PowerAutomate, Git, GitHub, 
        MongoDB and Flask to name a few. 
    </p>
    <p>
        I've found coding to be extremely rewarding.  As you learn, things start to click and before you
        know it you've built something really useful and hopefully fun to use.  I'm currently expanding and 
        refreshing my Flask skills in order to take the leap into full-time, full-stack software development.
    </p>
    <p>
        I've created a number of projects since I began, so feel free click around and checkout
        what I've made.  Hopefully you'll see something you like!
    </p>
</main>

{% endblock %}