{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>  <!-- <dl> means Description List-->
            <div class="contact">
                <dt>Email:</dt>     <!-- <dt> means Description Term-->
                <dd class="contact__details">       <!-- <dd> means Description Description-->
                    <a class="contact__link" href="mailto:andrew.bond2@gmail.com">
                        andrew.bond2 [at] gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/AndyB-WHG">
                        @AndyB-WHG
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}