{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero pic-size"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="Items of clothing for sale in online store."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        E-volve Retail was my fourth, final and most complex project as part of my Code Institute 
                        'Full Stack Web Developer' qualification.
                        <br>
                        <br>
                        The site incorporates a fully functioning online retail store, including :
                         <br>
                        
                         <ul class="technology-list">
                            <li class="technology-list__item">Products</li>
                            <li class="technology-list__item">Departments</li>
                            <li class="technology-list__item">Search tool</li>
                            <li class="technology-list__item">Sort function</li>
                            <li class="technology-list__item">Account setup / login / logout capability</li>
                            <li class="technology-list__item">Shopping cart</li>
                            <li class="technology-list__item">Size selection for clothing</li>
                            <li class="technology-list__item">Quantity selection</li>
                            <li class="technology-list__item">Credit card payment functionality via Stripe</li>
                        </ul>                         
                    </p>

                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                            <li class="technology-list__item">JavaScript / jQuery</li>
                            <li class="technology-list__item">Django</li>
                            <li class="technology-list__item">Heroku</li>
                            <li class="technology-list__item">Amazon AWS</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}